$color-blue-light: #01c1f2;
$color-blue-dark: #0092b7;
$color-white:#ffffff;
$color-black:#000000;
$color-google: #db4a39;
$color-facebook: #3b5998;
$color-bg: #ecf0f1;
$color-grey: #bdc3c7;
$color-red: #e74c3c;
$color-yellow: #f1c40f;
$color-green: #2ecc71;
